trigger:
- main

pool:
  name: default

stages:
- stage: Checkout
  displayName: 'Checkout Code'
  jobs:
  - job: CheckoutCode
    displayName: 'Get code from GitHub'
    steps:
    - checkout: self
      displayName: 'Checkout Source Code'

- stage: Build
  displayName: 'Maven Build Stage'
  dependsOn: Checkout
  jobs:
  - job: MavenBuild
    steps:
    - checkout: self
    - task: Maven@4
      displayName: 'Run Maven Build'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'

    # Publish the JAR file as an artifact
    - publish: $(System.DefaultWorkingDirectory)/target
      artifact: drop
     

- stage: SonarQube
  displayName: 'SonarQube Code Analysis'
  dependsOn: Build
  jobs:
  - job: CodeQuality
    displayName: 'Run SonarQube Analysis'
    steps:
    # Step 1: Prepare SonarQube Scanner
    - task: SonarQubePrepare@5
      displayName: 'Prepare SonarQube Analysis'
      inputs:
        SonarQube: 'sonarQube'  # <-- must match your service connection name
        scannerMode: 'Other'
        extraProperties: |
          sonar.projectKey=java-hello-world
          sonar.projectName=Java Hello World
          sonar.sourceEncoding=UTF-8
          sonar.sources=src/main/java
          

    # Step 2: Run Maven build with SonarQube scan
    - task: Maven@4
      displayName: 'Run SonarQube Maven Build'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean verify sonar:sonar'
        options: >
          -Dsonar.projectKey=java-hello-world
          -Dsonar.projectName=JavaHelloWorld
          -Dsonar.branch.name=""
        publishJUnitResults: false

    # Step 3: Publish SonarQube results
    - task: SonarQubePublish@5
      displayName: 'Publish SonarQube Results'
      inputs:
        pollingTimeoutSec: '300'

# --- Stage 2: Docker Build ---
- stage: DockerBuild
  displayName: 'Docker Build Stage'
  dependsOn: Build
  jobs:
  - job: BuildDockerImage
    steps:
    - checkout: self

    # Download the artifact produced by Maven
    - download: current
      artifact: drop

    # Verify that target folder is restored
    - script: |
        echo "Files restored from artifact:"
        ls -l $(Pipeline.Workspace)/drop
      displayName: "Verify target directory"

    # Build Docker image using the restored artifact
    - task: Docker@2
      displayName: 'Build Docker Image'
      inputs:
        command: build
        Dockerfile: 'Dockerfile'
        buildContext: '$(Pipeline.Workspace)/drop'
        tags: |
          $(Build.BuildId)

